body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

h1 {
    font-size: 4em;
}

.app {
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.341), rgb(255, 255, 255) 100%), url("/public/img/mountains_background.jpg");
    background-size: cover;
    background-position-y: 20%;
}

.tall {
    min-height: 65em;
}

.center {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.large-text {
    font-size: large;
}

.column { 
    display: flex;
    flex-direction: column;
}

.small-text {
    font-size: 10px;
}

.narrow {
    max-width: 500px;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right,
.left {
    display: flex;
}


section {
    min-height: 200px;
}
